* {
	font-family: sans-serif;
	font-size: 20px;
}
body {
	background-color: #000;
	color: white;
}
/*nav*/
.nav {
	width: 100%;
	background-color: #0c0a66;
}
.nav * {
	background-color: #0c0a66;
}
.nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	padding: 4px 0;
	/*下述可達成置中，並確保在一定範圍內，所以內容不會壓縮到跑版*/
	min-width: 800px;
	max-width: 1200px;
	margin: 0 auto;
}
.nav a {
	text-decoration: none;
	color: #888;
	padding: 0 12px;
}

.nav #logo a {
	color: #ffff66;
	font-size: 24px;
	padding-left: 0;
}
/*topics*/
.topics {
	min-width: 800px;
	max-width: 1200px;
	margin: 0 auto;
}
.topics h1 {
	background-color: #bbb;
	color: #000;
	display: inline-block;
	padding: 10px 14px;
	margin-top: 0;
	font-size: 16px;
}

.titleGroup * {
	text-decoration: none;
}
.titleGroup {
	padding-top: 16px;
}
.topic {
	padding: 0 6px;
}
.topic p {
	display: inline-block;
	height: 36px;
	margin: 0 auto;
}
.topic .topicName {
	width: 240px;
	color: #888;
}
.topic .number {
	padding: 0 24px 0 0;
	text-align: right;
	color: white;
}

.topic .title {
	color: #888;
	width: 500px;
}

/*articles*/
.articles {
	/* padding: 0 8rem; */
	min-width: 800px;
	max-width: 1200px;
	margin: 0 auto;
}

.articles h1 {
	font-size: 24px;
}

.articles button {
	background-color: #bbb;
	color: #000;
	display: inline-block;
	padding: 10px 14px;
	margin-top: 0;
	font-size: 16px;
}

.articleGroup * {
	background-color: #111;
	color: #aaa;
	text-decoration: none;
}

.article {
	margin: 12px 0;
}
.article p {
	padding: 6px 12px;
	margin: 0;
}

.article .time,
.article .author {
	display: inline-block;
	margin: 0;
}

.article .time {
	float: right;
}

/*articleContent*/
.articleContent {
	min-width: 800px;
	max-width: 1200px;
	margin: 0 auto;
}
.title {
	width: 100%;
}
.titleBar {
	background-color: #000088;
}
.titleBar p {
	background-color: #000088;
	color: #888;
	padding: 0 10px;
	/*用display: inline;無法設定高度，會有gap*/
	display: inline-block;
	margin: 0;
}
.titleBar p.head {
	background-color: #888;
	color: #000088;
}

/*reply*/
.reply p {
	display: inline-block;
	margin: 0;
}
.reply .replyAuthor {
	color: #ffff66;
}
.reply .replyContent {
	color: #999900;
}
.reply .replyTime {
	color: #bbb;
	float: right;
}
.form {
	width: 600px;
	margin: 0 auto;
}
.form * {
	display: block;
}
.form input,
.form textarea,
.form button {
	background-color: #bbb;
	color: black;
}
.form input {
	width: 100%;
}
.form textarea {
	resize: none;
	width: 100%;
}
/*.form select 以inline style寫*/
.addReply input,
.addReply button {
	background-color: #bbb;
	color: #000;
	box-sizing: border-box;
	height: 32px;
	padding: 0;
}
.addReply button {
	position: relative;
	top: 2px;
}
.addReply ::placeholder {
	color: #000;
}

@media only screen and (max-width: 800px) {
	* {
		font-size: 16px;
	}
	/*nav*/
	.nav ul {
		min-width: 400px;
		max-width: 800px;
		margin: 0 auto;
	}
	.nav #logo a {
		font-size: 16px;
	}
	/*topics*/
	.topics {
		min-width: 400px;
		max-width: 800px;
		margin: 0 auto;
	}
	.titleGroup {
		padding-top: 0px;
	}
	.topic {
		border-bottom: 1px solid #888;
		padding: 6px 8px 6px 4px;
	}
	.topic p {
		height: 24px;
	}
	.topic .topicName {
		width: auto;
	}
	.topic .number {
		float: right;
	}
	.topic .title {
		display: block;
		width: auto;
	}
	/*articles */
	.articles {
		min-width: 400px;
		max-width: 800px;
		margin: 0 auto;
	}
	.articles h1 {
		font-size: 20px;
	}
	.articleGroup * {
		background-color: #000;
	}
	.article {
		border-bottom: 1px solid #888;
		padding: 6px 8px 6px 4px;
		margin: 0%;
	}
	.article p {
		height: 24px;
		padding: 0;
	}
	/*articleConten*/
	.articleContent {
		min-width: 400px;
		max-width: 800px;
		margin: 0 auto;
	}
}
